<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Message &lt;3</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container">
    <form action="frontController.php?action=upload&controller=message&XDEBUG_TRIGGER" method="POST" enctype="multipart/form-data">
        <h1>Envoyer un message &lt;3</h1>
        <div class="img-container" id="img-container">
            <input type="button" id="add" onclick="addimg()" value="Ajouter une image">
            <input type="button" id="remove" onclick="remove()" value="Enlever une image">
            <div id="imgs"></div>
        </div>
        <div class="form-container">
            <label for="message-principal">Message à envoyer &lt;3 :</label>
            <textarea name="message-principal" id="message-principal"></textarea>
            <label for="signature">Signature :</label>
            <input type="text" name="signature" id="signature" required>
            <input type="number" name="nb-img" id="nb-img" value="0" hidden>
            <input type="submit" value="Envoyer le message" name="submit">
        </div>
    </form>
</div>
<script defer type="text/javascript" src="js/ecrire.js"></script>
</body>
</html>
