nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #EAEAEA; /* beige assombri */
    padding: 10px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav button {
    display: block;
    padding: 10px;
    color: #444; /* couleur assombrie */
    text-decoration: none;
    background: none;
    border: none;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #CFCFCF; /* couleur assombrie */
}

nav button:active {
    animation-name: shake;
    animation-duration: 0.5s;
}

nav a {
    display: block;
    padding: 10px;
    color: #444; /* couleur assombrie */
    text-decoration: none;
    background: none;
    border: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #CFCFCF; /* couleur assombrie */
}

nav a:active {
    animation-name: shake;
    animation-duration: 0.5s;
}

nav li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    height: 80%;
    border-right: 1px solid #D3D3D3; /* bordure */
}

.last-item::after {
    display: none;
}

.menu-icon {
    display: none;
}

.selection{
    background-color: #b4b4b4; /* couleur assombrie */
}

body{
    background-color: rgba(222, 200, 200, 0.7);
}
main{
    margin-top: 6vh;
}

.cacher{
    display: none;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    .menu-icon {
        display: inline-block;
        margin-right: 20px;
    }

    .fa-bars {
        font-size: 24px;
    }

    nav.responsive ul {
        display: block;
        text-align: left;
    }

    nav.responsive li {
        display: block;
        margin: 10px 0;
        position: relative;
    }

    nav.responsive li:not(:last-child)::after {
        display: none;
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    50% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.visible{
    display: flex;
    flex-direction: column;
    height: auto;
}

.visible img.logoproj{
    width: 30vw;
    height: 20vh;
    margin-left: 35vw;
    padding-top: 10px;
}
.visible p{
    padding: 2%;
    font-size: 1vw;
    border: rgba(13, 2, 51, 0.55) solid;
}
.visible h1{
    font-size: 3vw;
    margin-left: 42.5vw;
    text-decoration: underline;
}

.visible h2{
    font-size: 2vw;
    text-decoration: underline;
}

.petiteImage{
    padding: 0;
    width: 20%;
    height: 20%;
    margin-left: 40%;
}

.moyenImage{
    padding: 0;
    width: 30%;
    height: 30%;
    margin-left: 35%;
}

.image{
    padding: 0;
    width: 40%;
    height: 40%;
    margin-left: 30%;
}